.Div{
    background-image: url('../Images/3874.jpg');
    background-size:100% 100%;
    width: 100%;
    min-height: 100vh;
    
}

.barra{
     width:100%;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
}
 
